<%-include("partials/header.ejs")%> 
<%-include("partials/navbar.ejs")%> 
    <div class="container container-chats">
        <div class="previous-chats">
            <% if(locals.previousChats && previousChats != 0){ %>
                <% previousChats.chatMessages.forEach(message => { %>
                    <% if(message.role == 'user'){ %>
                        <div class="query">
                            <div>
                                <%= message.content %>
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="response">
                            <div>
                                <%= message.content %>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% }else{ %>
                <div class="empty-chats">
                    Your chats will appear here
                </div>  
            <% } %>
        </div>
        <form  action="/chat" method="POST">
            <div class="chat-container"> 
                <input class="chat-input" name="message" type="text" id="userId" placeholder="Enter your message">
                <button class="send-button">Send</button>
            </div>
        </form>
    </div>
 <%-include("partials/footer.ejs")%> 