<%-include("partials/header.ejs")%> 
<%-include("partials/navbar.ejs")%>
<div class="container">
    <form action="/recommend" method="POST">
        <h1 class="hello-user">Investease</h1>
        <div class="form-container"> 
            <label for="" class="form-label">How much amount do you want to invest?</label>
            <input class="form-input" name="amount_left" type="text" id="userId" placeholder="Enter amount">
            <% if(locals.balance){ %>
                <div class="d-flex justify-content-end">
                    <p style="font-size: 1rem;color: #454545;padding-top: 10px;">Available balance : <%= balance %></p>
                </div>
            <% } %>
            <label for="" class="form-label">Select your risk tolerance: </label>
            <select class="form-input" name="risk_tolerance" type="text" id="userId" placeholder="How much do you want to invest?">
                <option value="low">Low</option>    
                <option value="moderate">Moderate</option>    
            </select>

            <div class="btn-container">
                <button  class="login-button" type="submit">Generate recommendations</button>
            </div>
        </div>
    </form>
    <% if(locals.recommendationResult){ %>
        <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Average returns</th>
                  </tr>
                </thead>
                <tbody>
                  <% recommendationResult.forEach((item) => { %>
                <tr>
                  <td><%= item.name %></td>
                  <td><%= item.type %></td>
                  <td><%= item.average_return %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
        </div>
    <% } %>
</div>

<%-include("partials/footer.ejs")%> 
